{% extends "base.html.twig" %}

{% block body %}

<h1>Hello</h1>
<a href={{ path('app_logout') }}>Logout</a>

{% if is_granted('ROLE_ADMIN') %}
    <a href={{ path('user_add') }}>Ajouter un utilisateur</a>
    <p>Email: {{ app.user.email }}</p>
{% endif %}

{% endblock %}